{% extends 'base_blank.html' %}
{% load static %}
{% load humanize %}

{% block title %}Invoice Report{% endblock %}

{% block title_name %}Invoice Report{% endblock %}

{% block content %}
    
    <table class='table table-bordered table-hover'>
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            {% for name in column_name %}
            <th>{{ name }} </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
    {% for lineitem in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ lineitem.receipt_no }}</td>
            <td>{{ lineitem.receipt_date|default:""}}</td>
            <td>{{ lineitem.customer_code }}</td>
            <td>{{ lineitem.customer_name }}</td>
            <td>{{ lineitem.payment_method}}</td>
            <td>{{ lineitem.payment_ref|default:""}}</td>
            <td>{{ lineitem.total_received|intcomma}}</td>
            <td>{{ lineitem.remark|default:""}}</td>
        <tr>
    {% endfor %}
        </tbody>
{% endblock %}